---
import 'rehype-callouts/theme/obsidian';

import type { MarkdownHeading } from 'astro';

import Giscus from '@/components/Giscus.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import Layout from '@/layouts/Layout.astro';
import gridStyles from '@/styles/grid.module.css';

interface Props {
  title: string;
  subtitle?: string;
  headings?: MarkdownHeading[];
  id: string;
}
const { title, subtitle, headings, id } = Astro.props;
---

<Layout
  theme={{
    focus: true,
  }}
>
  <div class="relative min-h-[calc(100vh-4rem)] pt-12">
    <article class="mt-24 flex flex-col items-center">
      <div class="-z-10 mb-8 px-8">
        <h1 class="pb-4 text-center text-6xl font-semibold" transition:name={id}>{title}</h1>
        {subtitle && <h2 class="text-center text-2xl font-light italic">{subtitle}</h2>}
      </div>
      <div class={`mx-2 mb-16 mt-28 w-full ${gridStyles.articleGrid} gap-2`}>
        <div
          class={`bg-bkg/90 shadow-i-sm prose prose-slate ${gridStyles.articleContent} max-w-[56rem] rounded-xl p-4 transition-colors dark:prose-invert prose-h1:mb-4 prose-h1:mt-8 prose-p:mt-0 prose-code:font-[var(--font-neon)] md:px-12`}
        >
          <slot />
        </div>
        {headings && <TableOfContents {headings} class={gridStyles.articleToc} />}
      </div>
      <div class={`w-full mx-2 mt-16 mb-32 shadow-i-lg max-w-[56rem] rounded-xl bg-slate-900/90 p-4 ${gridStyles.articleContent}`}>
        <Giscus />
      </div>
    </article>
  </div>
</Layout>
