---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import HoverCard from './HoverCard.astro';

interface Props {
  name: string;
  certUrl: string;
  collectionUrl?: string;
  src: ImageMetadata;
  year: string;
}

const { name, certUrl, collectionUrl, src, year } = Astro.props;
---

<HoverCard class="w-60 flex-grow xl:max-w-1/4">
  <div
    class="border-grey-300 hover:outlinex border-content/80 outline-accent group h-56 overflow-clip rounded-xl border-4 shadow-xl outline-4 transition-transform duration-200 focus-within:outline"
  >
    <a href={certUrl}>
      <Image {src} alt={name} class="h-full w-full" sizes="(max-width: 600px) 100vw, (max-width 1024px) 66vw, 33vw" />
      <div class="bg-bkg/75 absolute right-0 bottom-0 rounded-tl-lg px-2 text-ellipsis whitespace-nowrap shadow-lg">
        <span class="text-sm font-bold text-slate-900 italic dark:text-white">
          {year}
        </span>
      </div>
    </a>
  </div>
  {
    collectionUrl && (
      <a
        href={collectionUrl}
        class="bg-bkg/75 hover:text-accent absolute bottom-0 left-0 rounded-tr-lg px-2 text-sm text-slate-900 underline shadow-lg dark:text-white"
      >
        Codepen collection
      </a>
    )
  }
</HoverCard>
