---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import HoverCard from './HoverCard.astro';

interface Props {
  name: string;
  href: string;
  src: ImageMetadata;
  description: string;
  year: string;
  size?: 1 | 2 | 3;
}

const { name, href, src, description, year, size = 1 } = Astro.props;
---

<HoverCard class={(size === 1 ? 'w-48' : size === 2 ? 'w-64' : 'w-80') + ' min-w-1/5 flex-grow-[2] xl:max-w-1/2'}>
  <a {href} class="absolute inset-0">
    <Image
      {src}
      alt={`Screenshot of ${name}`}
      class="bg-bkg absolute h-full w-full object-cover duration-1000 group-hover:scale-105"
      sizes="(max-width: 600px) 100vw, (max-width: 1024px) 66vw, 33vw"
      quality={60}
    />
    <div
      class="can-hover:group-hover:-translate-y-full relative top-full mx-auto flex h-full w-full -translate-y-6 flex-col justify-center rounded-lg shadow-lg backdrop-blur-sm will-change-transform motion-safe:duration-200"
    >
      <span
        class="bg-bkg/90 absolute top-1 right-5 h-4 rounded-t-lg px-4 text-left align-top text-sm font-semibold text-slate-900 italic dark:text-white"
      >
        {year}
      </span>
      <div class="bg-bkg/90 absolute top-5 right-0 bottom-0 left-0 rounded-lg"></div>
      <div class="absolute top-4 right-0 bottom-0 left-0 flex flex-col justify-center gap-2 overflow-y-auto mask-t-from-80% px-4 pt-4">
        <h3 class="pt-4 text-lg text-gray-700 dark:text-white">
          {name}
        </h3>
        <p class="pb-2 text-sm text-gray-600 dark:text-slate-300">
          {description}
        </p>
      </div>
    </div>
  </a>
  <Fragment slot="noHover">
    <h3 class="pt-6 text-lg text-gray-700 dark:text-white">{name}</h3>
    <p class="py-2 text-sm text-gray-600 dark:text-slate-300">{description}</p>
  </Fragment>
</HoverCard>
