---
// images
import fcc_backend from '@images/fcc_cert_backend.png';
import fcc_datavis from '@images/fcc_cert_datavis.png';
import fcc_frontend from '@images/fcc_cert_frontend.png';
import fcc_js from '@images/fcc_cert_js.png';
import fcc_webdesign from '@images/fcc_cert_webdesign.png';
import featuredart from '@images/featuredart.png';
import fishbowl from '@images/fishbowl.png';
import dscpreview from '@images/gh_dsc_preview.png';
import imagehound from '@images/imagehound.png';
import linklooker from '@images/linklooker.png';
import mnfc2 from '@images/mnfc2.jpg';
import port_website from '@images/port_website.png';
import redcoral from '@images/redcoral.jpg';
import staff from '@images/staff.png';

import CertCard from '@/components/cards/CertCard.astro';
import ProjectCard from '@/components/cards/ProjectCard.astro';
---

<div class="grid-cols-flow-24 my-3 flex w-full flex-wrap content-evenly gap-4 pt-3 text-center">
  <ProjectCard
    name="DSSD Madison - Red CORAL"
    href="https://github.com/DSSD-Madison/Red-CORAL"
    src={redcoral}
    description="An open-source club project that I led. A web app for a non-profit in South America that filters, sorts, and visualizes crime data on a map, table, and other charts."
    year="2024"
    size={2}
  />
  <ProjectCard
    name="LinkLooker"
    href="https://github.com/the-snesler/linklooker"
    src={linklooker}
    description="My first browser extension. Previews links using ChatGPT when you hover over them in Chrome and Firefox."
    year="2024"
    size={3}
  />
  <ProjectCard
    name="GitHub Discord Previews"
    href="https://github.com/the-snesler/discord-github-preview"
    src={dscpreview}
    description="A project that embeds Discord statuses in SVGs that can be easily placed anywhere."
    year="2024"
    size={2}
  />
  <ProjectCard
    name="CS559 Featured Artists Site"
    href="https://cs559featuredartists.github.io/"
    src={featuredart}
    description="The class project showcase site for CS559: Computer Graphics at UW-Madison."
    year="2025"
  />
  <ProjectCard
    name="Fishbowl"
    href="https://the-snesler.github.io/cs559-p8/"
    src={fishbowl}
    description="A 3D fishbowl simulation built with pure WebGL. Loads in models and handwritten shaders! My final project for CS559: Computer Graphics at UW-Madison."
    year="2025"
    size={2}
  />
  <ProjectCard
    name="ImageHound"
    href="https://the-snesler.github.io/imagehound/"
    src={imagehound}
    description="My interview take-home for Fetch, where I interned during the summer of 2025. A web app that displays dog images from an API and lets you select and search for specfiic breeds, all coded in a handful of hours in Svelte."
    year="2024"
    size={3}
  />
  <CertCard
    name="Back End Development and APIs"
    certUrl="https://www.freecodecamp.org/certification/Tsuni/back-end-development-and-apis"
    src={fcc_backend}
    year="2023"
  />
  <CertCard
    name="Front End Web Development"
    certUrl="https://www.freecodecamp.org/certification/Tsuni/responsive-web-design"
    collectionUrl="https://codepen.io/collection/rxMyMz"
    src={fcc_webdesign}
    year="2022"
  />
  <CertCard
    name="JS Algorithms and Data Structures"
    certUrl="https://www.freecodecamp.org/certification/Tsuni/javascript-algorithms-and-data-structures"
    src={fcc_js}
    year="2022"
  />
  <CertCard
    name="Front End Development Libraries"
    certUrl="https://www.freecodecamp.org/certification/Tsuni/front-end-development-libraries"
    collectionUrl="https://codepen.io/collection/zxdedJ"
    src={fcc_frontend}
    year="2022"
  />
  <CertCard
    name="Data Visualization"
    certUrl="https://www.freecodecamp.org/certification/Tsuni/data-visualization"
    collectionUrl="https://codepen.io/collection/GoOPLo"
    src={fcc_datavis}
    year="2022"
  />
  <ProjectCard
    name="Mark Neumann for Congress"
    href="https://web.archive.org/web/20221201032246/http://markneumannforcongress.com/"
    src={mnfc2}
    description="A Wordpress site for a local political campaign"
    year="2022"
  />
  <ProjectCard
    name="Staff Discord Bot"
    href="https://github.com/the-snesler/splatfest-bot"
    src={staff}
    description="A Discord bot that accesses the Splatoon 3 API to get information about the game, like current shop and map rotations. It also let discord members vote for their favorite Splatfest teams."
    year="2024"
  />
  <ProjectCard
    name="Portfolio Website"
    href="https://github.com/the-snesler/website"
    src={port_website}
    description="The website you're currently on! Built with Astro, Tailwind CSS, and TypeScript."
    year="2022"
    size={2}
  />
</div>
